<!DOCTYPE html>
<html lang="en">
<head>
    <title>Servidor Node.js</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Bienvenido al servidor Node.js</h1>
    <a href="/productos">Ver productos</a>
    <a href="/agregar-producto">Agregar Producto</a>
</body>
</html>